[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/vim-glsl"]
	path = bundle/vim-glsl
	url = git@github.com:tikhomirov/vim-glsl.git
[submodule "bundle/html5.vim"]
	path = bundle/html5.vim
	url = git@github.com:othree/html5.vim.git
